
    body {
      margin: 0;
      font-family: 'Courier New', monospace;
      background-color: #0e0e0e;
      color: #271313;
    }
    .cover-section {
      width: 100vw;
      height: 100vh;
      background: url('recursos/portada.jpg') no-repeat center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cover-section h1 {
      color: white;
      font-size: 3em;
      background: rgba(0, 0, 0, 0.6);
      padding: 20px;
      border: 2px solid #dc2626;
      
    }
    h2 {
      color: #dc2626;
      border-bottom: 1px solid #444;
      padding-bottom: 5px;
      margin-top: 60px;
    }
    .gallery img {
      width: 100%;
      border: 2px solid #444;
      margin-bottom: 10px;
    }
    footer {
      text-align: center;
      padding: 20px;
      background-color: #111;
      color: #888;
    }
    .glow-text {
    color: #fff;
    text-shadow: 0 0 5px #ffcfcf, 0 0 10px #ff8787, 0 0 20px #ffb3b3;
  }
 
  
